.row-bel {
    background: rgb(48, 227, 202);
    background: linear-gradient(52deg, rgba(48, 227, 202, 1) 0%, rgba(228, 249, 245, 0.651) 100%) no-repeat;
    /* height: 100vh; */
}

/* https://colorhunt.co/palette/e4f9f530e3ca11999e40514e */
/* https://css.glass/ */

.card-bel {
    background-color: rgb(228, 249, 245);
}

.table-bel {
    margin-top: 20px;
}

.row-dash-bel{
    /*background : rgb(191, 220, 229);*/
    background: rgb(48,227,202);
    background: linear-gradient(180deg, rgba(48,227,202,1) 0%, rgba(228,249,245,1) 100%);
}

.card-dash-bel{
    background-color: #B9FFF8;
    /*background: rgb(58, 16, 120);*/
    color : #11999E;

}

.dash-h1{
    color: rgb(58, 16, 120);
}