.row-bel {
    background: rgb(48, 227, 202);
    background: linear-gradient(52deg, rgba(48, 227, 202, 1) 0%, rgba(228, 249, 245, 0.651) 100%) no-repeat;
    /* height: 100vh; */
}

/* https://colorhunt.co/palette/e4f9f530e3ca11999e40514e */
/* https://css.glass/ */

.card-bel {
    background-color: rgb(228, 249, 245);
    
    /* background: rgba(228, 249, 245, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px); */

/* background: rgba(17, 153, 158, 0.27);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(6.7px);
border: 1px solid rgba(17, 153, 158, 0.06); */
}

.table-bel {
    margin-top: 20px;
}